

.nav-item a {
    text-decoration: none;
}
.nav-btn {
    border: none;
    background-color: rgba(254, 254, 254, 0);
}
.nav-btn:hover{
    cursor: pointer;
    border: thin;
    border-color:rgba(0, 67, 17, 0.818);
    color:green;
}

#cafe-name {
    float: left;
    font-family: "Luxurious Roman", serif;
    font-weight: 400;
    font-style: normal;
}

nav {
    float: right;
}

#img-logo {

    float: left;
}
#img-main {
   
}
#main-h1{
    color: white;
      font-family: "Quicksand", sans-serif;
      font-optical-sizing: auto;
      font-weight:450;
      font-style: normal;
    font-size: 40px;
}
#explore-btn{
    font-size: 20px;
    color: white;
}
