/*COMMON-IN-ALL-PAGES*/



/*INDEX-PAGE*/
.nav-link {
    font-size: 16px;
}

.topnav {
    background-color: #ffffff00;
    overflow: hidden;
}

.list-btn {
    border: none;
    background-color: white;
    font-size: 18px;
    font-weight: 600;
    color: rgb(115, 52, 98);
}

.list-btn:hover {
    background-color: rgb(115, 52, 98);
    color: white;
    border-radius: 5px;
}


#img-logo {
    float: left;
}


#img-main {
    max-width: 100%;
    height: auto;
 
}

#main-h1, #main-h6 {
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    color: #fcc7e2;
}

#main-h6{
    font-size: 19px;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0);
}



/* page2*/
body {

    font-family: "Nanum Myeongjo", serif;
    font-style: normal;
}

#pg2-para {
    font-weight: 650;
    font-size: 20px;
}

.img-mini {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#about-btn {
    font-size: 20px;
    font-weight: 900;
    background-color: #ffb3da;
    color: rgb(115, 52, 98);
    border-radius: 2px;
    width: 170px;
    height: 40px;
    border: none
}

/*PAGE3*/
.pg3-h4 {
    font-weight: 900;
    color: rgb(115, 52, 98);
}

.list {
    list-style-type: none;
    color: white;
    font-weight: 700;
}

.border:hover {
    cursor: pointer;

}

.list {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
#explore-btn {
    font-size: 20px;
    font-weight: 600;
    background-color: #ffb3da;
    border-radius: 2px;
    width: 160px;
    height: 40px;
    border: none
}

/*ABOUT-PAGE*/

#h1-about-us {
    color: #ffb3da;
    font-weight: 700;
}

#about-pg-para{
    font-weight: 500;
    font-size: 24px;
    color: white;
}

/*PAGE END */
 #social-logos{
    height: 38px;
    width: 35px;
 }